{% extends "base.html" %}

{% block title %}Керування користувачами{% endblock %}

{% block content %}
<h1>Всі користувачі</h1>
<table class="table">
    <thead>
        <tr>
            <th>Ім'я</th>
            <th>Email</th>
            <th>Адмін</th>
            <th>Дія</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ 'Так' if user.is_admin else 'Ні' }}</td>
            <td>
                {% if not user.is_admin %}
                <form action="{{ url_for('make_admin', user_id=user.id) }}" method="POST">
                    <button type="submit" class="btn btn-primary">Зробити адміністратором</button>
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
